{% extends 'base.html' %}

{% block head_title %}
Welcome to Tweetz!
{% endblock head_title %}

{% block content %}
Welcome to Tweetz

<div class='row text-center d-none'>
    <div class='col'>
        <h1>Welcome to Tweetz!</h1>
    </div>
</div>

<div class="row" id="tweetz">
    Loading...
</div>



<script>
    const tweetzElement = document.getElementById("tweetz")
    tweetzElement.innerHTML = "Loading..."

    const xhr = new XMLHttpRequest() // python = of xhr = SomeClasee()
    const method = 'GET' // post
    const url = '/tweetz'
    const responseType = "json"
    function handleTweetActionBtn(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
        currentCount++
        return 
    }


    function LikeBtn(tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=handleTweetActionBtn(" + 
        tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-10 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content +
            "</p><div class='btn-group'>" + 
                LikeBtn(tweet) +
                "</div></div>"

        return formattedTweet
    } 


    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i=0; i<listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
        }
        tweetzElement.innerHTML = finalTweetStr
    }
    xhr.send()

</script>
{% endblock content %}

